<!DOCTYPE html>
<html lang="ro">
<head>
  <title>Artoria's Kingdom România — Comunitate Anime & Gaming pe Discord</title>
  <%- include('partials/head') %>
  <script src="/logic.js" defer></script>
</head>

<body class="loading kingdom">
  <%- include('partials/header') %>

  <main class="content">
    <div class="welcome-container">
      <h1 class="welcome-message" id="salutare"></h1>
      <img class="welcome-img" src="/images/welcome.gif" alt="Welcome GIF">
    </div>
    <div class="introduction" id="introducere">
      <h2 class="section-title">Introducere</h2>
      <p>Hey!👋 Bun venit pe <strong>Artoria's Kingdom România</strong>, un colț cald și primitor pe Discord pentru fanii de <strong>anime</strong>. Aici nu contează dacă ești un expert în anime-uri sau de abea le-ai descoprit, important este să fii tu. Vrem ca fiecare om care ajunge aici să simtă că face parte din ceva fain, chill și primitor.</p>
      <p>Avem un vibe calm, suntem o comunitate mică, dar reală, în care fiecare dintre noi contează, fără prejudecăți, fără toxicitate sau caterincă ieftină. Suntem un loc cu oameni ce caută o atmosfera unde poți vorbi liber și te poți simți în largul tău.</p>
      <a href="https://discord.gg/7bkkg9a5ee" target="_blank" class="discord-link" role="button" aria-label="Alătură-te serverului Discord">Hai și tu!</a>
    </div>
    <div class="section-content" id="sectiune-server">
      <h2 class="section-title">Ce găsești la noi?</h2>
      <p>Avem câte un pic din toate: canale de discuții, recomandări de anime, meme-uri, momente chill și chiar un bot personalizat cu mini-jocuri (pe care l-am creat chiar noi ✨). Dacă crezi că lipsește ceva, te poți exprima liber iar noi vom încerca pe cât de mult posibil să îl facem realitate.</p>
      <p>Dar ce ne face diferiți? Faptul că nu suntem doar un „alt server random cu anime” — ci un loc unde chiar poți lega prietenii, fără judecată, fără presiune ori indiferență. Suntem un loc unde poți petrece timpul cu oameni ca și tine, fără a te simți pe dinafară sau ignorat.</p>
    </div>
    <div class="section-content" id="sectiune-scop">
      <h2 class="section-title">De ce am creat server-ul?</h2>
      <p>Pentru că uneori vrei doar un loc unde să poți fi tu, fără judecată. Să vorbești despre ce-ți place, să simți că aparții. Nu suntem cei mai activi deoarece încă suntem puțini și la început, dar unul câte unul, ajungem să creăm un loc frumos, inclusiv cu TINE.</p>
      <p>Dacă te regăsești în asta... poate ai găsit server-ul potrivit.</p>
    </div>
  
    <div class="spacer"></div>
  </main>

  <%- include('partials/footer') %>

  <script>
    window.addEventListener('load', () => {
      document.body.classList.remove('loading');
    });
  </script>
</body>
</html>